/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff6f0;
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}